<h1>Edit profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>
      
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control', placeholder: '7文字以上50文字以下の入力が可能です' %>
      
      <!--<%#= f.label :latitude %>-->
      <!--<%#= f.text_field :latitude %>-->
      
      <%= f.label :profile %>
      <%= f.text_area :profile, class: 'form-control', placeholder: '15文字以上145文字以下の入力が可能です' %>
      
      <!--<%#= form.file_field :avatars, multiple: true %>-->
      <%= f.label :avatar %>      
      <%= f.file_field :avatar %> 
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
            
      <%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
